.content, canvas {
	background: white;
}

.loading {
	position: relative;
}

.loading:after {
	content: url("../library/vender/securimage/images/ajax-loader.gif");
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -51px;
	opacity: 0.8;
}

#error {
	display:none;
	width: 960px;
	text-align: left;
	padding: 10px;
}

#mobile {
    display:none;
    width: 960px;
    text-align: left;
    padding: 10px;
}

body.embedded header {
	display: none;
}

body.embedded {
	margin: 0;
}
